.headerlogo {
  height: 40px;
  width: auto;
}
.toolbar {
  padding: 15px 15px 15px 15px !important;
  background-color: var(--ion-toolbar-background);
}
.channelLogos {
  height: 50px;
  width: 50px;
}
